fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-dotenv
PyJWT
cryptography
jwcrypto
langchain
langchain-groq
langchain-community
langgraph
langchain-mcp-adapters
mcp
chromadb
sentence-transformers
python-multipart
PyMuPDF
python-pptx
duckduckgo-search
